/* style.css file */
.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styling for the container of genre buttons */
#genreButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the buttons */
    gap: 10px; /* Space between buttons */
}
